@charset "UTF-8";

h1{
  color: #24226c;
  font-size: 20pt;
  font: small-caps bold 24px/1 sans-serif;
}
h2{
  color: #24226c;
  font-size: 35pt;
}

canvas {
  border: 0px solid black;

}

.top_equation{
    color: #24226c;
    font-size: 35pt;
}

.theta_theta_size{
 color: #24226c;
  font-size: 30pt;
}


.theta_data_size{
    color: #24226c;
    font-size: 30pt;
    
}


.in{
border:0;
padding:2pt;
font-size:20pt;
font-family:Arial, sans-serif;
color:#95ade9;
border:solid 1px #87bef0;
margin:0 0 20px;
width:100pt;
height:30pt;
}



.buto {
  min-width: 100px;
  font-family:Arial, sans-serif;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676d7;
  color: #fff;
  padding: 8px 16px;
  font-size: 20pt;
  cursor: pointer;
}
 
.buto:hover {
  background: #1d49aa;
}
 
.buto:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}

